body {
    overflow: scroll;
}

.hr {
    height: 10px;
    border: none;
  border-top: 1px #000000 solid;
}

.container {
    width: 380px;
    height: 220px;
    background-color: rgb(26,90,162);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 270px 270px 0 0;
    margin-top: 50px;
    margin-left: 21px;
    box-shadow: -80px 1px 5px rgb(24,80,150) inset;
    text-align: center;
}
.container-1 {
    width:370px;
    height: 210px;
    margin: auto;
}

.rockman-button-top, .rockman-button-semi-top {
    width: 80px;
    height: 60px;
    background-color: rgb(255, 200, 0);
    border: 3px solid rgb(0, 0, 0);
}
.rockman-button-top {
    border-radius: 20px 20px 5px 5px;
    margin-top: 5px;
    margin-bottom: 35px;
    box-shadow: -4px -4px rgb(255, 180, 0) inset;
}
.rockman-button-semi-top {
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(255, 255, 255) inset;
}
    

.face {
    width: 305px;
    height: 200px;
    background-color: rgb(255,202,150);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 0px 0px 400px 400px;
    float: left;
    text-align: center;
}

.hikaru {
    width: 305px;
    height: 200px;
    text-align: center;
}

.left-face {
    width: 50px;
    height: 100px;
    background-color: rgb(255, 200, 0);
    float: left;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 70% 0 0 70%;
    border-collapse: separate;
    border-spacing: 0px;
}
.right-face {
    width: 50px;
    height: 100px;
    background-color: rgb(255, 200, 0);
    float:left;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 0 70% 70% 0;
}

.rockman-face {
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
}

.triangle{
    height: 55px;
    border-top: 75px solid rgb(28,92,165);
    box-shadow: -80px 1px 5px rgb(24,80,150) inset;
    border-right: 62px solid transparent;
    border-left: 62px solid transparent;
    float: left;
    margin:auto;
}


.left-eye {
    width: 70px;
    height: 95px;
    background-color: rgb(255, 255, 255);
    float: left;
    border-radius: 50% 50% 45% 60%;
    /* margin-left: 30px; */
    /* display: block; */
    margin-left: 20px;
    border-top: 4px solid rgb(0, 0, 0);
}
.left-eye-1 {
    width: 45px;
    height:85px;
    background-color: rgb(67,173,47);
    border: 2px solid rgb(0,0,0);
    border-radius: 50%;
    float: right;
    margin: 5px 5px 0px 10px;
    box-shadow: -1px 58px rgb(0, 120, 0) inset;
}
.left-eye-2 {
    width: 15px;
    height:55px;
    background-color: rgb(21,58,30);
    /* border: 2px solid rgb(0,0,0); */
    border-radius: 50%;
    margin: auto;
    margin-top: 15px;
    /* float: right; */
    /* margin: 5px 5px 0px 10px; */
}
.left-eye-3 {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    float:right;
    border-radius: 80% 20% 20% 80%;
    margin-right: 5px;
}
.right-eye {
    width: 70px;
    height: 95px;
    background-color: rgb(255, 255, 255);
    float: right;
    border-radius: 50% 50% 60% 45%;
    margin-right: 20px;
    border-top: 4px solid rgb(0, 0, 0);
    /* margin-right: 30px; */
    /* display:block; */
}
.right-eye-1 {
    width: 45px;
    height: 85px;
    background-color: rgb(67,173,47);
    border: 2px solid rgb(0, 0, 0);
    float: left;
    border-radius: 50%;
    margin: 5px 10px 0px 5px;
    box-shadow: -1px 58px rgb(0, 120, 0) inset;
}
.right-eye-2 {
    width: 15px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(21, 58, 30);
    margin: auto;
    margin-top: 15px;
}
.right-eye-3 {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    float: right;
    border-radius: 50%;
    margin-right: 5px;

}

.right-horn {
    width: 30px;
    height: 220px;
    background-color: rgb(178,232,206);
    border-radius: 50% 50% 0 0;
    float: left;
    /* display: block; */
    margin-right: 85px;
}
.left-horn {
    width: 30px;
    height: 220px;
    background-color:rgb(178,232,206);
    border-radius: 50% 50% 0 0;
    float: left;
    display: block;
    margin-left: 85px;
}

.rockman-button {
    width: 90px;
    height: 60px;
    float: left;
    display: block;
    margin: 0 25px 0px 25px;
}

.left-face-1 {
    width: 30px;
    height: 65px;
    background-color: rgb(255, 180, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 75% 0 0 75%;
    float: right;
    margin-top: 15px;
    display: absolute;
}

.right-face-1 {
    width: 30px;
    height: 65px;
    background-color: rgb(255, 180, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0 75% 75% 0;
    float: left;
    margin-top: 15px;
    position: absolute;
}

.nose  {
    width: 2px;
    height: 100px;
    border-bottom: 10px solid rgb(0, 0, 0);
    margin: auto;
}

.mouse {
    height: 30px;
    width: 120px;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin: auto;
    border-radius: 75%;
}

.rockman-main-body{
    width: 1000px;
    height: 1000px;
}

.rockman-body {
    width: 100px;
    height: 30px;
    background-color: rgb(46,50,88);
    /* box-shadow: -53px 1px 5px rgb(20,21,41) inset; */
    margin-left: 173px;
}


.right-body-1 {
    width: 140px;
    height: 85px;
    background-color: rgb(46,50,88);
    border-radius: 0 30px 30px 0;
    float: left;
}

.left-body-1 {
    width: 140px;
    height: 85px;
    background-color: rgb(46,50,88);
    float: left;
    border-radius: 30px 0 0 30px;
}

.main-body {
    width: 180px;
    height: 300px;
    background-color: rgb(46,50,88);
    /* box-shadow: -78px 1px 5px rgb(20,21,41) inset; */
    display:inline-block;
    transform:skewX(20deg);
    margin-left: 150px;
    position: absolute;
    left: 30px;
    z-index: 70;
}

.side-1 {
    width: 50px;
    height: 180px;
    background-color: rgb(178,232,206);
    transform:skewX(20deg);
    position: absolute;
    border-left: 5px solid rgb(46,50,88);
    margin-top: 80px;
    margin-left: 140px;
    z-index: 30;
}
.side-2 {
    width: 50px;
    height: 50px;
    background-color: rgb(178,232,206);
    transform:skewX(10deg);
    position: absolute;
    border-left: 5px solid rgb(46,50,88);
    margin-top: 253px;
    margin-left: 175px;
    z-index: 30;
}
.side-3 {
    width: 50px;
    height: 300px;
    background-color: rgb(178,232,206);
    transform:skewX(-20deg);
    position: absolute;
    border-left: 5px solid rgb(46,50,88);
    margin-top: 300px;
    margin-left: 125px;
    z-index: 30;
}

.body-soul {
    width: 120px;
    height: 120px;
    background-color: rgb(255, 200, 0);
    border-radius: 50%;
    margin: 40px 0 0 70px;
    border: 1px solid rgb(0, 0, 0);
}

.body-soul-red {
    width: 95px;
    height: 95px;
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 2px 0 0 25px;
}
.red-soul-right-1, .red-soul-left-1 {
    width: 18px;
    height: 10px;
    background-color: rgb(255, 0, 0);
}
.small-triangle{
    height: 30px;
    border-top: 55px solid rgb(101,182,159);
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    float: left;
    margin: 0 0 0 110px;
}

.right-shoulder {
    width: 100px;
    height: 80px;
    background-color: rgb(254,199,8);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 80px 60px 70px 40px;
    position: absolute;
    left: 70px;
    z-index: 200;
}
.left-shoulder {
    width: 100px;
    height: 80px;
    /* background-color: rgb(241,113, 7); */
    background-color: rgb(254,199,8);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px 50px 50px 80px;
    position: absolute;
    margin-left: 250px;
    z-index: 60;
}
.left-sub-shoulder {
    width: 20px;
    height: 65px;
    /* background-color: rgb(241,113, 7); */
    background-color: rgb(254,199,8);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0 20px 5px 0;
    position: absolute;
    margin: 50px 0 0 328px;
    z-index: 50;
}

.right-elbow {
    width: 85px;
    height: 170px;
    position: absolute;
    background-color: rgb(46,50,88);
    transform:skewX(-20deg);
    margin: 0 0 0 70px;
    border-radius: 10px 0 0 0;
}

.left-elbow {
    width: 40px;
    height: 100px;
    position: absolute;
    background-color: rgb(20,21,41);
    margin: 70px 0 0 320px;
    transform:skewX(20deg);
}

.wrist-1 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(40,138,203);
    border: 3px solid rgb(0, 0, 0);
    z-index: 10;
    position: absolute;
    margin: 130px 0 0 10px;
}

.wrist-2 {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: rgb(35,85,146);
    border: 3px solid rgb(0, 0, 0);
    z-index: 10;
    position: absolute;
    margin: 13px 0 0 -3px;
}

.wrist-3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2c88c7;
    border: 3px solid rgb(0, 0, 0);
    z-index: 10;
    position: absolute;
    margin: 20px 0 0 10px;
}

.wrist-4 {
    width: 100px;
    height: 100px;
    background-color: rgb(40,138,203);
    border: 3px solid rgb(0, 0, 0);
    z-index: 10;
    position: absolute;
    margin: 148px 0 0 338px;
    border-radius: 50px 60px 30px 30px;
    transform:skewX(-20deg);
}

.wrist-5 {
    width: 60px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(34,84,141);
    border: 2px solid rgb(0, 0, 0);
    z-index: 9;
    position: absolute;
    margin: 12px 0 0 43px;
}

.wrist-6 {
    width: 75px;
    height: 52px;
    background-color: rgb(44,136,199);
    border: 3px solid rgb(0, 0, 0);
    z-index: 10;
    position: absolute;
    margin: 15px 0 0 34px;
    border-left: none;
    border-right: none;
    transform:skewX(-20deg);
}

.finger-1 {
    width: 35px;
    height:45px;
    background-color: rgb(44,136,199);
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    margin: 175px 0 0 12px;
    z-index: 11;
    border-radius: 40px 20px 10px 20px;
    transform:skewX(30deg);
    border-bottom: none;
}
.finger-2 {
    width: 25px;
    height: 53px;
    background-color: rgb(44,136,199);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    margin: 190px 0 0 0px;
    z-index: 12;
    transform:skewX(-5deg);
    border-radius: 28px 13px 0px 0px;
    border-bottom: none;
}
.finger-3 {
    width: 25px;
    height: 60px;
    background-color: rgb(44,136,199);
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    margin: 198px 0 0 25px;
    z-index: 14;
    transform:skewX(-10deg);
    border-radius: 5px 15px 0px 0px;
}
.finger-4 {
    width: 25px;
    height: 60px;
    background-color: rgb(44,136,199);
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    margin: 208px 0 0 48px;
    z-index: 16;
    transform:skewX(-15deg);
    border-radius: 5px 15px 0px 0px;
}
.finger-5 {
    width: 22px;
    height: 40px;
    background-color: rgb(44,136,199);
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    margin: 217px 0 0 73px;
    z-index: 18;
    transform:skewX(-8deg);
    border-radius: 5px 15px 0px 0px;
}

.finger-6 {
    margin: 155px 0 0 500px;
    z-index: 15;
}
.finger-7 {
    margin: 170px 0 0 498px;
    z-index: 15;
}
.finger-8 {
    margin: 190px 0 0 496px;
    z-index: 15;
}
.finger-9 {
    margin: 208px 0 0 494px;
    z-index: 15;
}

.finger-6, .finger-7, .finger-8, .finger-9 {
	position: relative;
	background-color: rgb(44,136,199);
    text-align: left;
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: none;
    border-left: none;
}
.finger-6:before, .finger-7:before, .finger-8:before, .finger-9:before,
.finger-6:after, .finger-7:after, .finger-8:after, .finger-9:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.finger-6, .finger-7, .finger-8, .finger-9,
.finger-6:before, .finger-7:before, .finger-8:before, .finger-9:before,
.finger-6:after, .finger-7:after, .finger-8:after, .finger-9:after {
	width:  20px;
	height: 20px;
	border-top-right-radius: 30%;
}

.finger-6, .finger-7, .finger-8, .finger-9 {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.finger-6:before, .finger-7:before, .finger-8:before, .finger-9:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.finger-6:after , .finger-7:after, .finger-8:after, .finger-9:after{
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.thumb {
    width: 20px;
    height: 35px;
    background-color: rgb(44,136,199);
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    margin: 150px 0 0 480px;
    z-index: 50;
    border-radius: 10px 20px 10px 10px;
}

.palm-1 {
    width: 60px;
    height: 60px;
    background-color: rgb(44,136,199);
    position: absolute;
    border-radius: 80px 60px 70px 40px;
    margin: 158px 0 0 470px;
    border: 3px solid rgb(0, 0, 0);
    z-index: 11;
}

.palm-2 {
    width: 40px;
    height: 40px;
    background-color: rgb(44,136,199);
    position: absolute;
    border-radius: 80px 60px 70px 40px;
    margin: 199px 0 0 470px;
    border: 3px solid rgb(0, 0, 0);
    z-index: 11;
}

.fist {
    width: 96px;
    height: 30px;
    background-color: rgb(44,136,199);
    position: absolute;
    z-index: 25;
    margin: 243px 0 0 -5px;
    border: 3px solid rgb(0, 0, 0);
    border-top: none;
    border-radius: 0px 0px 35px 60px;
    transform:skewX(-7deg);
}

.fist-2 {
    background-color: rgb(44,136,199);
    width: 50px;
    height: 82px;
    position: absolute;
    margin: 160px 0 0 483px;
    border-radius: 0 30px 30px 0;
    border: 3px solid rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    z-index: 15;
}

.right-leg {
    width: 70px;
    height: 310px;
    background-color: rgb(46,50,88);
    display:inline-block;
    transform:skewX(-25deg);
    margin-left: 150px;
    position: absolute;
    margin: 290px 0 0 180px;
    z-index: 30;
}
.left-leg {
    width: 110px;
    height: 300px;
    background-color: rgb(46,50,88);
    display:inline-block;
    transform:skewX(15deg);
    left: 50px;
    border-radius: 5px 5px 0 0;
    position: absolute;
    margin: 299px 0 0 295px;
}

.hidden-leg-1 {
    width: 50px;
    height: 100px;
    background-color: rgb(46,50,88);
    position: absolute;
    margin: 240px 0 0 210px;
    transform:skewX(5deg);
    z-index: 30;
}

.hidden-leg-2 {
    width: 50px;
    height: 310px;
    background-color: rgb(46,50,88);
    position: absolute;
    margin: 270px 0 0 170px;
    transform:skewX(-15deg);
    z-index: 30;
}

.hidden-leg-3 {
    width: 50px;
    height: 300px;
    background-color: rgb(46,50,88);
    position: absolute;
    margin: 300px 0 0 148px;
    transform:skewX(-23deg);
    z-index: 30;
}

/* .right-shin-1 {
    width: 130px;
    height: 60px;
    background-color: rgb(41,137,200);
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    margin: 565px 0 0 55px;
    border-radius: 50%;
    transform:skewX(10deg);
    z-index: 5;
} */

/* .right-shin-2 {
    width: 130px;
    height: 70px;
    background-color: rgb(29,135,198);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    margin: 580px 0 0 45px;
    border-radius: 30px 60px 30px 90px;
    transform:
        rotate(10deg)
        skewX(-30deg);
    z-index: 4;
} */

.right-shin-3 {
    width: 100px;
    height: 150px;
    background-color: rgb(41,137,200);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    margin: 600px 0 0 44px;
    transform:skewX(-18deg);
    z-index: 3;
}

.former-1 {
    width: 99px;
    height: 130px;
    background-color: rgb(41,137,200);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    margin: 723px 0 0 1px;
    transform:skewX(-27deg);
    z-index: 10;
    border-top: none;
    border-radius: 0 20px 50px 70px;
}
.former-3 {
    width: 99px;
    height: 130px;
    background-color: rgb(46,50,88);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    margin: 733px 0 0 4px;
    transform:skewX(-27deg);
    z-index: 9;
    border-top: none;
    border-radius: 0 60px 50px 70px;
}

.left-shin-2 {
    width: 100px;
    height: 150px;
    background-color: rgb(41,137,200);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    margin: 595px 0 0 405px;
    transform:skewX(18deg);
    z-index: 5;
}

.former-2 {
    width: 220px;
    height: 80px;
    background-color: rgb(41,137,200);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    margin: 747px 0 0 410px;
    transform:skewX(-25deg);
    z-index: 10;
    border-top: none;
    border-radius: 0 70% 50px 45%;
}
.former-4 {
    width: 220px;
    height: 80px;
    background-color: rgb(46,50,88);
    border: 3px solid rgb(0, 0, 0);
    position: absolute;
    margin: 755px 0 0 410px;
    transform:skewX(-25deg);
    z-index: 9;
    border-top: none;
    border-radius: 0 70% 50px 45%;
}

.toe-1 {
    width: 50px;
    height: 31px;
    position: absolute;
    background-color: rgb(46,50,88);
    margin: 825px 0 0 8px;
    z-index: 11;
    border-radius: 10px 10px 0 0;
}
.toe-2 {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgb(46,50,88);
    margin: 782px 0 0 594px;
    z-index: 11;
    border-radius: 30px 10px 30px 5px;
}